@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary: hsl(216, 65%, 61%);
    --primary-dark: hsl(216, 65%, 50%);
    --bg-clr-dark: hsl(0 0 95);
    --bg-clr-light: hsl(0 0 100);
    --medium-clr: hsl(0 0 65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100dvh;
    align-content: center;
    background-color: var(--bg-clr);
}

.wrapper, #loading {
    background-color: var(--bg-clr-light);
    box-shadow: 0 2px .5rem hsl(0 0 0 / .15);
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1.5rem auto;
}

.wrapper {width: clamp(14rem, 80%, 40rem)}

h1, p {
    text-wrap: balance;
    text-align: center;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 700;
    color: var(--primary);
}

.wrapper p {
    margin-block: 1rem 2rem;
    color: var(--medium-clr);
}

#scanner-container {
    border-radius: .5rem;
    border: 2px dashed hsl(0 0 85) !important;
}

#scanner-container button {
    padding: .5rem 1rem;
    margin: 0 1rem 2rem;
    border-radius: .8rem;
    border: none;
    background-color: var(--primary);
    box-shadow: 0 4px 0 var(--primary-dark);
    color: white;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    font-weight: 700;
    cursor: pointer;
    transition: transform 300ms ease, box-shadow 300ms ease;
}

#scanner-container button:active {
    transform: translateY(4px);
    box-shadow: none;
}

#html5-qrcode-anchor-scan-type-change {color: var(--medium-clr)}

img[alt="Camera based scan"], img[alt="Fule based scan"] {filter: invert(70%)}

img[alt="Info icon"] {
    top: .7rem !important;
    right: .7rem !important;
}

#scanner-container__header_message {
    --err-clr: hsl(0 100 93);
    position: fixed;
    top: 1rem;
    inset-inline: 0;
    padding-block: 1rem !important;
    margin: 1rem !important;
    border-radius: 1rem;
    background-color: var(--err-clr) !important;
    box-shadow: 0 4px 0 -1px hsl(from var(--err-clr) h s calc(l - 18));
    animation: fadeIn 300ms ease forwards;
}

#scanner-container__scan_region video {border-radius: 1rem}

@keyframes fadeIn {
    from { transform: translateY(-100%); opacity: 0 }
    to { transform: translateY(0%); opacity: 1 }
}

/* Loading */

body:has(#loading.show) > *:not(#loading.show) { display: none }
#loading:not(.show) { display: none }

#loading {
    position: relative;
    padding-top: 2rem;
    animation: fadeIn 1s ease forwards;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40dvh;
    align-content: center;
    overflow: clip;
}

#loading h1 {z-index: 1}

@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}

#loading::before, #loading::after {
    content: '';
    position: absolute;
    inset-block: 0;
    width: 5rem;
    border-radius: 1rem;
}
#loading::before {
    left: 0;
    background: linear-gradient(to right, white 20%, transparent);
}
#loading::after {
    right: 0;
    background: linear-gradient(to left, white 20%, transparent);
}

#loading img {height: 100%}

#loading h1 span.animate {
    display: inline-block;
    --delay: 10ms;
    animation: animate 1.5s var(--delay) ease;
}

@keyframes animate {
    0% { transform: translateY(0); }
    50% { transform: translateY(-1rem); }
    100% { transform: translateY(0); }
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    padding: 1rem;
    background-color: var(--primary);
    color: white;
    text-align: center;
    font-size: 0.8rem;
}