:root {
    --primary: hsl(216, 65%, 61%);
    --primary-dark: hsl(216, 65%, 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-wrap: balance;
    text-align: center;
    font-weight: 700;
    color: var(--primary);
}

#scanner-container {
    width: clamp(14rem, 75%, 40rem);
    margin: 2rem auto;
    background-color: hsl(0 0 95);
    border: 2px solid hsl(0 0 85) !important;
    border-radius: 1rem;
}

#scanner-container button {
    padding: .5rem 1rem;
    margin: 0 1rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary);
    box-shadow: 0 4px 0 var(--primary-dark);
    color: white;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 700;
    cursor: pointer;
    transition: transform 300ms ease, box-shadow 300ms ease;
}

#scanner-container button:active {
    transform: translateY(4px);
    box-shadow: none;
}

#html5-qrcode-anchor-scan-type-change {
    color: hsl(0 0 65);
}

img[alt="Camera based scan"] {
    filter: invert(70%);
}

img[alt="Info icon"] {
    top: .7rem !important;
    right: .7rem !important;
}

#scanner-container__header_message {
    position: fixed;
    top: 1rem;
    inset-inline: 0;
    padding-block: 1rem !important;
    margin: 1rem !important;
    border-radius: 1rem;
    background-color: hsl(0, 100%, 93%) !important;
    box-shadow: 0 4px 0 -1px hsl(0, 100%, 75%);
    animation: fadeIn 300ms ease forwards;
}

#scanner-container__scan_region video {
    border-radius: 1rem;
}

@keyframes fadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}