@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary: hsl(216, 65%, 61%);
    --primary-dark: hsl(216, 65%, 50%);
    --bg-clr-dark: hsl(0 0 95);
    --bg-clr-light: hsl(0 0 100);
    --medium-clr: hsl(207 11 60);
    --radius: 0.75rem;
    --card-radius: 1.5rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100dvh;
    align-content: center;
    background-color: var(--bg-clr-dark);
}

header.content-wrapper {
    margin-block: 2rem;
    gap: 1rem;
}

.content-wrapper {
    background-color: var(--bg-clr-light);
    box-shadow: 0 .75rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: var(--card-radius);
    padding: 1.5rem 1rem;
    width: min(90%, 500px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1, h2, span, p {
    text-wrap: balance;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: .5rem;
}

.content-wrapper p {
    color: var(--medium-clr);
    line-height: 1.5;
}

@keyframes fadeIn {
    from { transform: translateY(-100%); opacity: 0 }
    to { transform: translateY(0%); opacity: 1 }
}

/* Quantity Input */

.quantity-input-container h2 {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--medium-clr);
    margin-bottom: .5rem;
}

#quantity-input::-webkit-inner-spin-button {display: none}
input[type=number] { -moz-appearance: textfield; appearance: textfield }

.quantity-wrapper {
    background-color: var(--primary);
    background-color: var(--bg-clr-dark);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
    border-radius: var(--radius);
}

.step-btn {
    background-color: var(--primary);
    border-radius: 50%;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    cursor: pointer;
    transition: scale 150ms ease, color 150ms ease;
}

.step-btn:not(.disabled):active { scale: 0.8 }
.step-btn.disabled { background-color: hsl(from var(--primary) h s calc(l + 15)) }


#decrease:active:not(.disabled) ~ #quantity-input,
#quantity-input:has(+ #increase:active:not(.disabled)) {
    scale: 1.3;
}

#quantity-input {
    border: none;
    background: none;
    color: hsl(0 0 100);
    color: var(--primary-dark);
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: var(--radius);
    text-align: center;
    transition: scale 150ms ease;
}

/* Scanner Input */

#id-input {
    --valid: hsl(100 80 40);
    width: 100%;
    margin-block: .5rem;
    padding: .5rem 1rem;
    border-radius: var(--radius);
    border: 2px dashed var(--medium-clr);
    color: var(--medium-clr);
    color: hsl(from var(--primary) h calc(s + 5) calc(l + 15));
    font-size: 1rem;
    text-align: center;
    transition: border 0.2s ease, color 0.2s ease, background-color 0.2s ease;
}

#id-input::placeholder {color: var(--medium-clr)}

#id-input:focus {
    outline: none;
    border-color: var(--primary);
}

#id-input.valid {
    border: 2px solid var(--valid);
    color: var(--valid);
    background-color: hsl(100 80 50 / .1);
}

button {
    --primary-light: hsl(from var(--primary) h s calc(l + 10));
    border: none;
    text-decoration: none;
    color: white;
    background-color: var(--primary-dark);
    width: 100%;
    border-radius: 0.75rem;
    padding: 1rem .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 .3rem 0 -1px var(--primary-light), 0 .5rem 0 -3px var(--primary-light);
    transition: box-shadow 0.2s  ease, translate 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

}

button:active {
    box-shadow: none;
    translate: 0 4px;
}

button svg {height: 1.5rem; transition: translate .15s ease}
button:active svg {translate: 4px}

button span {
    color: hsl(0 0 100);
    font-size: 1.2rem;
    font-weight: 500;
}

button svg path {
    stroke: white;
    stroke-width: 1rem;
}

/* Loading */

#loading:not(.show) { display: none }
body:has(#loading.show) > *:not(#loading.show) { display: none }

#loading {
    position: relative;
    padding-top: 2rem;
    animation: fadeIn 1s ease forwards;
    margin-inline: auto;
    height: 50dvh;
    overflow: clip;
}

#loading h1 {z-index: 1}

@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}

#loading::before, #loading::after {
    content: '';
    position: absolute;
    inset-block: 0;
    width: 5rem;
    border-radius: var(--card-radius);
}
#loading::before {
    left: 0;
    background: linear-gradient(to right, white 20%, transparent);
}
#loading::after {
    right: 0;
    background: linear-gradient(to left, white 20%, transparent);
}

#loading img {height: 100%}

#loading h1 span.animate {
    display: inline-block;
    --delay: 10ms;
    animation: animate 1.5s var(--delay) ease;
}

@keyframes animate {
    0% { transform: translateY(0); }
    50% { transform: translateY(-1rem); }
    100% { transform: translateY(0); }
}