* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: hsl(216, 65%, 61%);
    --primary-dark: hsl(216, 65%, 50%);
    --primary-light: hsl(216, 65%, 75%);
    --bg-clr: hsl(from var(--primary) h calc(s + 10) calc(l + 35));
}

body {
    min-height: 100dvh;
    align-content: center;
    background-color: var(--bg-clr);
    --accent-clr: rgb(0 182 0);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(14rem, 80%, 40rem);
    background-color: hsl(0 0 100);
    box-shadow: 0 2px .5rem hsl(0 0 0 / .15);
    border-radius: 1.5rem;
    padding: 2rem  1rem  0;
    margin: 0 auto;
    isolation: isolate;
}

body.error {--accent-clr: rgb(216 0 0)}

.checkmark {
    aspect-ratio: 1;
    width: fit-content;
    background-color: var(--accent-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 50%;
}

.checkmark span {
    color: #fff;
    font-size: 3rem;
}

h1, h2, h3, details, summary, a {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-weight: 800;
    color: var(--accent-clr);
    font-size: 3rem;
    margin-block: .5rem 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(0 0 20);
    color: var(--primary);
    margin-bottom: .3rem;
}

h3  {
    color: hsl(0 0 60);
    color: var(--primary-light);
    font-weight: 300;
    margin-bottom: 2rem;
}

/* error details */

details, summary {text-align: left;}

details {
    margin-block: 2rem .5rem;
    align-self: flex-start;
    line-height: 1.5;
    padding-inline: 1rem;
    text-wrap: pretty;
}

summary {
    color: hsl(0 100 75);
    font-weight: 600;
    list-style: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
}

summary::before {
    font-family: "Material Symbols Rounded";
    content: 'arrow_right';
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

summary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: hsl(0 100 75);
    transition: width 0.4s ease;
}

details[open] summary::before {transform: rotate(90deg)}
details[open] summary::after {width: 100%}

details[open] p {animation: fade 0.4s ease forwards}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* scan new student btn */

.scan-new-btn {
    position: relative;
    text-decoration: none;
    color: white;
    background-color: var(--primary-dark);
    width: 100%;
    border-radius: 0.75rem;
    padding-block: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 .3rem 0 -1px var(--primary-light), 0 .5rem 0 -3px var(--primary-light);
    transition: box-shadow 0.2s ease, translate 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.forward-arrow {
    font-family: "Material Symbols Rounded";
    font-size: 1.5rem;
    font-weight: 400;
    transition: translate 0.2s ease;
}

.scan-new-btn:active {
    translate: 0 .5rem;
    box-shadow: none;
}

.scan-new-btn:active .forward-arrow {
    translate: 5px;
}